:root {
    /** Colors **/
    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --darkestBlue: hsl(215, 22%, 15%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: "Overpass", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: calc(100% - 3rem);
    max-width: 415px;
    margin: 0 auto;
}

.btn {
    display: block;
    font-family: inherit;
    width: 100%;
    margin-top: 1.25rem;
    border: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--orange);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
} 

@media (min-width: 768px) {
    .btn {
        margin-top: 2rem;
        font-size: 15px;
    }
}

.btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.btn:disabled,
.btn:disabled:hover {
    cursor: not-allowed;
    background-color: var(--orange);
    color: var(--white);
    opacity: .3;
}

.rating {
    background-color: var(--darkestBlue);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 15px;
    transition: transform .4s ease-in-out;
    transform: scale(1);
}

@media (min-width: 768px) {
    .rating {
        padding: 2rem;
    }
}

.rating--closed {
    transform: scale(0);
}

.rating__star {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkBlue);
    border-radius: 50%;
}

@media (min-width: 768px) {
    .rating__star {
        width: 50px;
        height: 50px;
    }
}

.rating__title {
    margin-top: 1.25rem;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .rating__title {
        margin-top: 2.25rem;
        font-size: 1.75rem;
    }
}

.rating__text {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 1.5;
    color: var(--mediumGrey);
}

@media (min-width: 768px) {
    .rating__text {
        font-size: 15px;
    }
}

.rating__selectors {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating__selector {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkBlue);
    border-radius: 50%;
    font-size: 14px;
    line-height: 1;
    color: var(--mediumGrey);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

@media (min-width: 768px) {
    .rating__selector {
        width: 50px;
        height: 50px;
        font-size: 15.5px;
    }
}

.rating__selector:hover {
    background-color: var(--lightGrey);
    color: var(--white);
}

.rating__selector--selected,
.rating__selector--selected:hover {
    background-color: var(--orange);
    color: var(--white);
}

.thank-you {
    background-color: var(--darkestBlue);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 15px;
    transition: transform .4s ease-in-out;
    transform: scale(0);
    display: none;
}

@media (min-width: 768px) {
    .thank-you {
        padding: 2rem;
    }
}

.thank-you--open {
    transform: scale(1);
}

.thank-you__img-container {
    display: flex;
    justify-content: center;
}

.thank-you__img {
    width: 145px;
}

@media (min-width: 768px) {
    .thank-you__img {
        width: initial;
    }
}

.thank-you__selected-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thank-you__selected {
    margin-top: 1.5rem;
    background-color: var(--darkBlue);
    padding: 0.5rem 0.75rem;
    line-height: 1;
    border-radius: 24px;
    color: var(--orange);
    font-size: 14px;
}

@media (min-width: 768px) {
    .thank-you__selected {
        margin-top: 2rem;
        font-size: 15px;
        padding: 0.5rem 1rem;
    }
}

.thank-you__title {
    margin-top: 1.25rem;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
}

@media (min-width: 768px) {
    .thank-you__title {
        margin-top: 2.25rem;
        font-size: 1.75rem;
    }
}

.thank-you__text {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 1.5;
    color: var(--mediumGrey);
    text-align: center;
}

@media (min-width: 768px) {
    .thank-you__text {
        font-size: 15.5px;
    }
}